{% extends 'base.template.html' %}

{% block content %}
<form method="POST">
	<div class="row">
		<div class="col">
			<label>Animal Name</label>
			<input type="text" class="form-control" name="animal_name"/>
        </div>
        <div class="col">
            <label>Species</label>
            <input type="text" class="form-control" name="species"/>
        </div>
        <div class="col">
            <label>Tags</label>
            <div>
                <input type="checkbox" name="tags" value="cat-friendly" class="mr-2"/>Cat Friendly
                <input type="checkbox" name="tags" value="adorable" class="mr-2"/>Adorable
                <input type="checkbox" name="tags" value="housebroken" class="mr-2"/>House Broken
            </div>
        </div>
    </div>
    <input type="submit" value="Search" class="btn btn-primary mt-3"/>
</form>
{% endblock %}